.popup {
  display: none;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  z-index: 9;
}

.popup_open {
  display: flex;
}

.popup__container {
  display: flex;
  flex-direction: column;
  width: calc(430px - (36px * 2));
  margin: auto;
  padding: 34px 36px 28px;
  background: #fff;
  border-radius: 10px;
  position: relative;
  text-align: left;
}

.popup__title {
  font-family: "Roboto", Sans-Serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  color: #1a1b22;
  margin: 0px;
  margin-bottom: 22px;
}

.popup__close-button {
  position: absolute;
  top: -27px;
  right: -32px;
  border: none;
  background-image: url(../../images/close.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
  width: 40px;
  padding: 0px;
  cursor: poInter;
}

.popup_type_success-text {
  font-family:"Inter", Sans-Serif ;
  font-size: 18px;
  line-height: 22px;
  color: #2f71e5;
  margin: 0px;
}

.popup_type_success .popup__title {
  margin-bottom: 14px;
}


.popup__input-label {
  display: block;
  font-family: "Inter", Sans-Serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #2f71e5;
}

.popup__input-label:not(:first-of-type) {
  margin-top: 31px;
}

.popup__input{
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  font-family: "Inter", Sans-Serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  padding: 10px;
  padding-left: 0px;
  color: black;
}


.popup__input::placeholder {
  color: rgba(0, 0, 0, 0.2);
}

.popup__input:focus {
  outline: none;
  background-color: transparent;
}

.popup__submit-button {
  width: 100%;
  border: none;
  font-family: "Roboto", Sans-Serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  background-color: #2F71E5;
  padding: 20px;
  border-radius: 100px;
  margin-top: 39px;
}


.popup__submit-button:disabled {
  background-color: #e6e8eb;
  color: #b6bcbf;
}
.popup__submit-button_active {
  background-color: #2f71e5;
  color: #fff;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
}

.popup__redirect {
  font-family: "Inter", Sans-Serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #1a1b22;
  margin: 0px;
  margin-top: 16px;
  text-align: center;
  cursor: poInter;
}

.popup__redirect-text {
  color: #2f71e5;
}

.popup__redirect_text:hover {
  font-weight: 500;
}

.popup__error-text {
  font-family: "Inter", Sans-Serif;
  font-weight: 400;
  font-size: 14px;
  color: red;
  margin: 0;
  margin-top: 15px;
  text-align: center;
}

@media (max-width: 535px) {
  .popup {
    align-items: flex-end;
    height: 101%;
  }
  .popup__container {
    margin: 0px;
    width: 100%;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    height: 80vh;
  }
  .popup__close-button {
    right: 0px;
    top: -41px;
  }
}
