.popup {
  display: none;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  z-index: 9;
}

.popup_open {
  display: flex;
}

.popup__container {
  display: flex;
  flex-direction: column;
  width: calc(430px - (36px * 2));
  margin: auto;
  padding: 34px 36px 28px;
  background: #fff;
  border-radius: 10px;
  position: relative;
  text-align: left;
}

.popup__title {
  font-family: "roboto", Sans-Serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  color: #1a1b22;
  margin: 0px;
  margin-bottom: 22px;
}

.popup__close-button {
  position: absolute;
  top: -27px;
  right: -32px;
  border: none;
  background-image: url(../../images/close.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
  width: 40px;
  padding: 0px;
  cursor: pointer;
}

.popup__success-text {
  font-family:"inter", Sans-Serif ;
  font-size: 18px;
  line-height: 22px;
  color: #2f71e5;
  margin: 0px;
}

.popup__success .popup__title {
  margin-bottom: 14px;
}

@media (max-width: 535px) {
  .popup {
    align-items: flex-end;
    height: 101%;
  }
  .popup__container {
    margin: 0px;
    width: 100%;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    height: 80vh;
  }
  .popup__close-button {
    right: 0px;
    top: -41px;
  }
}
