.about {
  display: flex;
  padding: 80px 40px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about__box {
  font-family: "Roboto", Sans-Serif;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  text-align: left;
  padding: 20px;
  border-radius: 16px;
  margin-bottom: 40px;
}

.about__img {
  width: 80px;
  height: 80px;
}

.about__title {

}

.about__text {
  line-height: 1.5;
}