.search-form {
    position: relative;
    width: max-content;
    margin: auto;
    margin-top: 88px;
}

.search-form__input {
    font-family: "roboto", Sans-Serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1A1B22;
    padding: 21px 208px 21px 24px;
    border-radius: 100px;
    border: none;
    width: 376px;
}

.search-form__input::placeholder {
    color: #B6BCBF;
}

.search-form__input:focus {
    outline: none;
    color: #1A1B22;
}

.search-form__buttton {
    position: absolute;
    top: 0;
    right: 0px;
    border: none;
    background-color: #2F71E5;
    box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
    padding: 20px 56px;
    border-radius: 100px;
    color: #fff;
    font-family: "roboto", Sans-Serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    cursor: pointer;
}

.search-form__buttton:hover {
    background-color: #347EFF;
}

.search-form__buttton:active {
    background-color: #2A65CC;
}

@media (max-width: 768px) {
    .search-form {
        margin-top: 48px;
    }

    .search-form__input {
        width: 228px;
        padding: 17px 196px 17px 24px;
    }

    .search-form__buttton {
        padding: 16px 52px;
    }
}

@media (max-width: 500px) {
    .search-form__input {
        width: 256px;
        padding: 17px 16px;
    }
    .search-form__buttton {
        padding: 16px 116px;
        top: 72px;
    }
}