.preloader {
	position: relative;
}
.preloader__icon {
	display: block;
	width: 50px;
	height: 50px;
	border: 4px solid #444;
	border-bottom-color: #888;
	border-radius: 50%;
	margin: auto;
	margin-top: 50px;
	animation: spin .75s infinite linear;
}

@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}