.news-card-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.news-card-list__button {
  padding: 20px 98px;
  font-family: "roboto";
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: #1a1b22;
  background-color: #fff;
  border-radius: 80px;
  border: none;
  cursor: pointer;
}

.news-card-list__button:hover {
  background-color: #e8e8e8;
}

@media (max-width: 400px) {
  .news-card-list__button {
    padding: 16px 70px;
    width: 100%;
  }
}

@media (min-width: 1600px) {
  .news-card-list {
    width: 85%;
    margin: auto;
  }
}
